<!-- ここから追加 -->
<%= form_for(@picture, html: {multipart: true}) do |f| %>
<!-- ここまで追加 -->

<%= f.error_messages! %>


<!-- ここから追加 -->
  <div class="field">
    <%= f.label :photo_image %>
    <%= f.file_field :photo_image %>
  </div>
<!--ここまで追加-->

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
